/* Quitarle margenes a todo */
* {
  margin: 0;
}
/* Quitarle el color a los enlaces */
a {
  text-decoration: none;
}

/* Estilos generales del body */
body {
  background: rgb(0, 176, 240);
  font-family: 'Open sans', arial;
  font-weight: lighter;
}

/* ==========================================================================
   Estilos de los formularios de registro y login
   ========================================================================== */

/* Contenedor total del formulario */
.contenedor-form {
  background: white;
  width: 70%;
  max-width: 1000px;
  height: auto;
  margin: 3em auto;
  box-sizing: border-box;
  padding-bottom: 3em;
  border: 1px solid rgb(95, 99, 102);
  border-radius: 8px;
}

/* Contenedor interno */
.formulario {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  box-sizing: inherit;
  display: block;
  padding-top: 1.5em;
}

/* Estilos de los componentes del formulario
   ========================================================================== */

.formulario h1 {
  font-size: 20px;
  font-weight: inherit;
}

/* Este contenedor sirve para dejar un espaciado entre el h1 y el resto de etiquetas */
.contenedor-inputs {
  margin-top: 1.5em;
}

.formulario label {
  font-size: 20px;
  display: inherit;
  text-align: left;
  margin-top: 1em;
}

.formulario input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 18px;
  font-weight: lighter;
  font-family: 'Open sans', arial;
  border-radius: 8px;
  border: 1px solid rgb(47, 82, 143);
  display: inherit;
}

.formulario input[type="submit"] {
  width: 40%;
  font-family: inherit;
  font-size: 18px;
  background: rgb(0, 176, 240);
  border: 1px solid rgb(47, 82, 143);
  border-radius: 8px;
  margin: 1.5em auto 1em auto;
  box-sizing: border-box;
  padding: 10px 4px;
  color: white;
  -webkit-transition: all ease .1s;
  -o-transition: all ease .1s;
  transition: all ease .1s;
}

/* Animacion del boton */
.formulario input[type="submit"]:hover {
  background: rgb(8, 122, 163);
  cursor: pointer;
}

.formulario a {
  display: block;
  margin-top: 6px;
}

.formulario .msg-errores {
  color: red;
  text-align: left;
}

/* Estilos de la pagina registroResultados
   ========================================================================== */

/* Contenedor interno */
.resultados-registro-cont {
  width: 70%;
  height: 500px;
  font-size: 20px;
  margin: 3em auto;
  box-sizing: border-box;
  display: block;
  padding: 1.5em;
  background: white;
  display: flex;
  justify-content: center;
}

.texto-resultados-registro {
  width: 65%;
  margin-top: 5em;
  text-align: justify;
}

/* Estilos de la pagina principal del centro de acopio
   ========================================================================== */



/* HEADER */

.pp-header{
  position: fixed;
  display: inline-block;
  top: 0;
}

.pp-title{
  position: fixed;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  background: white;
  text-align: center;
}

.pp-dropdown {

  z-index: 1;
  right: 20px;
  top: 4px;
  position: fixed;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f1f1f1;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.pp-dropdown:hover .dropdown-content {display: block;}
.pp-dropdown:hover .dropbtn {background-color: #ddd;}




/* MAIN WINDOW */

.pp-body{
  min-width: 550px;
}

.pp-main-window{
  display: block;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #fff;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5em;
  margin-bottom: 3em;
  width: 80%;
  min-height: 10em;
}

.pp-info{
  margin: 1em;
}

.pp-info > h2{
  font-size: 24px;
}

.pp-info > h4{
  font-size: 14px;
  margin-bottom: 10px;
}

.pp-info > h3{
  font-size: 18px;
}

.pp-table{
  display: grid;
  background: #ddd;
  min-width: 50px;
  margin: 2em;
}


th, td{
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
}



/****************************/
/*       DONOR MAIN         */
/****************************/

/* Header */

.dm-header{
  position: fixed;
  display: inline-block;
  top: 0;
}

.dm-header > h1{
  position: fixed;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
  background: white;
  text-align: center;
}

.dm-header > a{
  font-size: 16px;
  z-index: 1;
  left: 30px;
  top: 10px;
  position: fixed;
  display: inline-block;
  border: none;
  outline: none;
}

.dm-login{
  font-size: 14px;
  z-index: 1;
  right: 30px;
  top: 8px;
  position: fixed;
  display: inline-block;
  border: none;
  outline: none;
}

.dm-login:hover{
  background: lightgray;
    outline: none;
}

.dm-login:active{
  background: gray;
  border: none;
  outline: none;
}



/* List */

.dm-list{
  display: inline-block;
  background-color: white;
  border-radius: 0.8em;
  border: black 1px solid;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4.5em;
  margin-bottom: 5%;
  padding: none;
}

.dm-center{
  display: flex;
  background-color: white;
  border-radius: 0.8em;
  border: black 1px solid;
  width: 95%;
  margin: 1em;
  align-items: center;
  padding: none;
  outline: none;
}

.dm-center:hover{
  background-color: lightgray;
  outline: none;
}
.dm-center:active{
  outline: none;
  background-color: gray;
}

.dm-center > h2{
  margin-left: 1em;
  margin-right: 1em;
  display: inline-flex;
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  max-width: 45%;
  padding: none
}

.dm-center > h3{
  display: inline-flex;
  text-align: center;
  width: 22%;
}
.dm-center > h4{
  align-items: flex-end;
  right: 0em;
  display: inline-flex;
  text-align: right;
  width: 33%;
  margin-right: 1em;
}


/************************/
/*      Donor Info      */
/************************/

.di-info{
  display: inline-block;
  background-color: white;
  border-radius: 0.8em;
  border: black 1px solid;
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 4.5em;
  margin-bottom: 5%;
  padding: none;
}

.di-info-general > h2{
  margin-top: 1em;
  text-align: center;
}

.di-info-general > h3{
  margin-left: 4%;
}


.di-table > table{
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 4%;
  margin-right: 4%;
  display: inline-block;
  font-size: 13px;
  width: 92%;
}

.di-table > th{
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
